<h1>Listing Games</h1>
<p><%= User.count %> players have played a total of <%= Game.count %> games</p>
<table class="gamedetails">
  <thead>
    <tr>
      <th>Game id</th>
      <th>Turn</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.whose_turn.name %></td>
        <td><%= link_to 'Show', game %></td>
      </tr>
    <% end %>
    <tr><%= link_to 'New Game', new_game_path %></tr>
  </tbody>
</table>