<p id="notice"><%= notice %></p>
<h2>Tic Tac Toe</h2>
</br>
<p class="gamedetails">
<%= @game.player1.name %> Vs <%= @game.player2.name %>
</br>
It is <%= @game.whose_turn.name %>'s turn to play
</br>
<%= link_to 'Back', games_path %>
</p>
</br>
<style type="text/css">.playerbutton{cursor:pointer;border:none;background:transparent;outline:none;display:inline}.gaf210codes_youtubebox,.preload_box{width:1px;height:1px;overflow:hidden;visibility:hidden;position:absolute;display:inline}</style>
<script type="text/javascript" src="http://www.youtube.com/player_api"></script>
<script type="text/javascript">function toggleButtonPlayer_VlSZY(buttonobj){buttonobj.style.display="none";if(buttonobj.id=="gaf210codes-VlSZY-playbutton"){document.getElementById("gaf210codes-VlSZY-pausebutton").style.display="inline";}else{document.getElementById("gaf210codes-VlSZY-playbutton").style.display="inline";}}/*Youtube player code generated @ http://gaf210.imvustylez.net*/</script>
<div class="gaf210codes_youtubebox"><iframe width="250" height="250" src="http://www.youtube.com/embed/JGw8DWctAts?enablejsapi=1&amp;fs=0&amp;rel=0&amp;showinfo=0&amp;modestbranding=1&amp;iv_load_policy=3&amp;controls=0&amp;autoplay=0&amp;loop=0" onload="gaf210codes_VlSZY=new YT.Player(this)"></iframe></div>
<button type="button" class="playerbutton" id="gaf210codes-VlSZY-playbutton" onclick="gaf210codes_VlSZY.playVideo();toggleButtonPlayer_VlSZY(this)"><img src="http://i62.tinypic.com/axnot0.jpg"></button><button type="button" class="playerbutton" id="gaf210codes-VlSZY-pausebutton" onclick="gaf210codes_VlSZY.pauseVideo();toggleButtonPlayer_VlSZY(this)" style="display:none"><img src="http://i57.tinypic.com/2mqugw2.jpg"></button><div class="preload_box"><img src="http://i62.tinypic.com/axnot0.jpg"><img src="http://i57.tinypic.com/2mqugw2.jpg"></div><input style="outline:none" type="range" min="0" max="100" onchange="gaf210codes_VlSZY.setVolume(this.value)">
</br>
<table class="page">
  <tr>
    <td class="no_border"><div class="playeravatar"><%= image_tag Character.first.playgif.medium.url %></div></td>
    <td class="no_border">
      <table class="tg">
        <tr>
          <td class="ttt"><%= if (@game.board[0] == nil) then button_to '', {action: :update, params: {square: 0}}, method: :patch, class: "TTTButton" else @game.board[0] end %></td>
          <td class="ttt"><%= if (@game.board[1] == nil) then button_to '', {action: :update, params: {square: 1}}, method: :patch, class: "TTTButton" else @game.board[1] end %></td>
          <td class="ttt"><%= if (@game.board[2] == nil) then button_to '', {action: :update, params: {square: 2}}, method: :patch, class: "TTTButton" else @game.board[2] end %></td>
        </tr>
        <tr>
          <td class="ttt"><%= if (@game.board[3] == nil) then button_to '', {action: :update, params: {square: 3}}, method: :patch, class: "TTTButton" else @game.board[3] end %></td>
          <td class="ttt"><%= if (@game.board[4] == nil) then button_to '', {action: :update, params: {square: 4}}, method: :patch, class: "TTTButton" else @game.board[4] end %></td>
          <td class="ttt"><%= if (@game.board[5] == nil) then button_to '', {action: :update, params: {square: 5}}, method: :patch, class: "TTTButton" else @game.board[5] end %></td>
        </tr>
        <tr>
          <td class="ttt"><%= if (@game.board[6] == nil) then button_to '', {action: :update, params: {square: 6}}, method: :patch, class: "TTTButton" else @game.board[6] end %></td>
          <td class="ttt"><%= if (@game.board[7] == nil) then button_to '', {action: :update, params: {square: 7}}, method: :patch, class: "TTTButton" else @game.board[7] end %></td>
          <td class="ttt"><%= if (@game.board[8] == nil) then button_to '', {action: :update, params: {square: 8}}, method: :patch, class: "TTTButton" else @game.board[8] end %></td>
        </tr>
      </table>
    </td>
    <td class="no_border"><div class="playeravatar2"><%= image_tag @game.player2.avatar.medium.url %></div></td>
  </tr>
</table>
</br>
<%= @game.result %>
</br>
<% if @move && @move.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@move.errors.count, "error") %> prohibited this move from being saved:</h2>

  <ul>
    <% @move.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>