  <img alt="background" class="bg" src="http://static5.gamespot.com/uploads/original/536/5360430/2753139-15774024117_9026e0a43c_o.jpg">
  <p id="notice"><%= notice %></p>

  <h2><%= @stage.name %></h2>
  <%= link_to 'Edit', edit_stage_path(@stage) %> |
  <%= link_to 'Back', stages_path %>
    <br>
    <p>
      <b>Image:</b>
      <%= link_to image_tag(@stage.stage_image.thumb.url), @stage.stage_image.medium.url %>
    </p>